body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    display: none;
}
/* Score text position */
#score {
    position: absolute;
    left: 37%;
    top: -1%;
}

/* Score counter position */
#scoreText {
    position: absolute;
    left: 30%;
    top: -1%;
}

/* Score counter position */
#volumeText {
    position: absolute;
    left: 66%;
    top: 35%;
}